<div class="flex justify-center">
  <section hlmCard class="border border-amber-500">
    <div hlmCardHeader>
      <p>Cadastrar nova pauta</p>
    </div>

    <div hlmCardContent>
      <div class="">
        <label hlmLabel for="descricao-input">Descrição</label>
        <input
          hlmInput
          id="descricao-input"
          name="descricao"
          type="text"
          placeholder="Digite uma descrição"
          [(ngModel)]="descricao"
          required
        />
      </div>
      <div>
        <label hlmLabel for="categoria-input">Categoria</label>
        <input
          hlmInput
          id="categoria-input"
          name="categoria"
          type="text"
          placeholder="Digite uma categoria"
          [(ngModel)]="categoria"
          required
        />
      </div>

      <div class="flex items-center gap-2">
        <input
          hlmInput
          id="abrir-sessao"
          type="checkbox"
          [(ngModel)]="abrirSessao"
        />
        <label hlmLabel for="abrir-sessao">Abrir sessão imediatamente</label>
      </div>

      @if (abrirSessao) {
      <div>
        <label hlmLabel for="duracao-sessao">
          A sessão ficará aberta por:
          <input
            hlmInput
            id="duracao-sessao"
            type="number"
            min="1"
            [(ngModel)]="duracao"
            required
          />
          minuto(s).
        </label>
      </div>
      }

      <div class="flex justify-end">
        <button hlmBtn type="button" (click)="cadastrar()">Cadastrar</button>
      </div>
    </div>
  </section>
</div>
